:root {
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--color-main-text: #212121;
	--color-secondary-text: #757575;
	--white: #ffffff;
	--accent: #2196f3;
	--color-bg-advantges: #f5f4fa;
	--color-icon-our-clients: #afb1b8;
	--color-footers-link: rgba(255, 255, 255, 0.6);
	--color-ftr-social-link: rgba(255, 255, 255, 0.1);
	
}

body {
	background-color: var(--primary-bg-color);
	color: var(--color-main-text);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.border {
	border-top: 1px solid #ececec;
}

.link {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 94px;
	padding-bottom: 94px;
}
.no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.container.header {
	display: flex;
	/* align-items: center; */
	justify-content: center;

	
}

.flexbox {
	display: flex;
	align-items: baseline;
	/* align-items: center; */
	
}
.site-nav-item {
	margin-right: 50px;
}

.site-contacts-list {
	margin-left: auto;
}
.site-nav-list .link,
.site-contacts-list .link {
	padding-top: 24px;
	padding-bottom: 26px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}

/* line */
.site-nav-list .link.current::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
}
.site-nav-list .link {
	color: var(--color-main-text);
}
.site-contacts-item.email,
.site-contacts-item.phone {
	display: flex;
	align-items: baseline;
	/* align-items: center; */
	/* justify-content: center; */
	color: var(--color-secondary-text);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}

.site-nav-list .link:hover,
.site-nav-list .link:focus,
.site-nav-list .link.current,
.logo .logo-accent,
.site-contacts-item:hover,
.site-contacts-item:focus {
	color: var(--accent);
}

.site-nav-list .link.current {
	position: relative;
}
.site-contacts-icon {
	fill: currentColor;
	margin-right: 10px;
}
.site-contacts-item:first-child {
	margin-right: 30px;
}
.logo {
	color: var(--color-main-text);
	font-family: Raleway, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	margin-right: 93px;
}
.hero {
	display: flex;
	align-items: center;

	max-width: 1600px;
	height: 600px;
	margin: 0 auto;

	background-color: var(--secondary-bg-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}

.hero .container {
	color: var(--white);
	text-align: center;
}

.hero .title-hero {
	font-weight: 900;
	font-size: 42px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	text-align: center;
}

.btn-hero {
	display: inline-block;
	background-color: var(--accent);
	color: var(--white);
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	min-width: 200px;
	padding: 10px 32px;
	border-radius: 4px;
	cursor: pointer;
}


section p {
	color: var(--color-secondary-text);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

section h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--color-main-text);
	margin-top: 0px;
	margin-bottom: 0px;
}
section .hidden {
	display: none;
}
.advantages h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	margin-top: 0px;
	margin-bottom: 10px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.advantages .container {
	padding-bottom: 0px;
}
.advantages-list {
	flex-wrap: wrap;
}

.advantages-list-item::before {
	content: '';
	display: block;
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;
	background-size: content;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-bg-advantges);
}

.advantages-list-item.icon-antenna::before {
	background-image: url(./images/antenna.svg);
}
.advantages-list-item.icon-clock::before {
	background-image: url(./images/clock.svg);
}
.advantages-list-item.icon-diagram::before {
	background-image: url(./images/diagram.svg);
}
.advantages-list-item.icon-astronaut::before {
	background-image: url(./images/diagram.svg);
}

.advantages-list-item:not(:last-child) {
	margin-right: 30px;
}
.advantages-list-item {
	width: calc((100% - 3 * 30px) / 4);
}

.we-are-doing-item {
	position: relative;
}
.we-are-doing-item:not(:last-child) {
	margin-right: 30px;
}

.we-are-doing-list {
	flex-wrap: wrap;
	margin-top: 50px;
}

.we-are-doing-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding-top: 27px;
	text-align: center;
	background-color: rgba(47, 48, 58, 0.8);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
.team {
	background-color: var(--color-bg-advantges);
}
.team h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
	margin-top: 30px;
}
.team p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 16px;
}
.team-item:not(:last-child) {
	margin-right: 30px;
}

.team-list {
	flex-wrap: wrap;
	margin-top: 50px;
}
.team-item {
	width: calc((100% - 3 * 30px) / 4);
	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-icon {
	justify-content: center;
	margin-bottom: 30px;
}
.team-item-icon:not(:last-child) {
	margin-right: 10px;
}
.team-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}
.team-item-icon:not(:last-child) {
	margin-right: 10px;
}
.team-icon {
	fill: var(--color-icon-our-clients);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.team-link:hover,
.team-link:focus {
	background-color: var(--accent);
}
.team-link:hover .team-icon,
.team-link:focus .team-icon {
	fill: var(--primary-bg-color);
}


.clients-icon-list {
	justify-content: center;
	/* padding-top: 24px; */
	/* padding-bottom: 25px; */
	margin-top: 50px;
	

}
/* li befor link */
/* .clients-icon-item{
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 90px;
border-radius: 4px;
border: 1px solid #afb1b8;
border-radius: 4px;

} */

.client-icon {
	fill: var(--color-icon-our-clients);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	
}
.clients-icon-item:not(:last-child) {
	margin-right: 30px;
}
/* hower-focus-old */
/* .client-link:hover .client-icon, */
/* .client-link:focus .client-icon { */
	/* fill: var(--accent); */
	
/* } */

/* .clients-icon-item:hover, */
/* .clients-icon-item:focus { */
	/* fill: var(--accent); */
	/* border: 1px solid #2196f3; */
	/* cursor: pointer; */
/* } */
/* hower-focus-old-end */
.client-link{
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 90px;
border-radius: 4px;
border: 1px solid #afb1b8;
border-radius: 4px;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus{
border-color: var(--accent);
}
.client-link:hover >
.client-icon,
.client-link:focus >
.client-icon{
  fill: var(--accent);
}
.ftr {
	background-color: var(--secondary-bg-color);
	color: var(--primary-bg-color);
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	padding-top: 70px;
	padding-bottom: 60px;
}
.ftr .container {
	padding-top: 0px;
	padding-bottom: 0px;
}
.ftr h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}
.ftr p {
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	color: var(--white-text-color);
	margin-top: 20px;
	margin-bottom: 0px;
}
.ftr .logo {
	color: var(--primary-bg-color);
}

.ftr .ftr-contacts-item {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-footers-link);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr .ftr-contacts-items:hover,
.ftr .ftr-contacts-item:focus {
	color: var(--primary-bg-color);
}

.connect {
	margin-left: 70px;
	/* margin-top: 12px; */
}
.ftr-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: var(--color-ftr-social-link);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ftr-item-icon:not(:last-child) {
	margin-right: 10px;
}
.ftr-icon {
	fill: var(--white);
}
.ftr-link:hover,
.ftr-link:focus {
	background-color: var(--accent);
}
/* telegram footer */
.footer-form-subscription {
	display: flex;
	/* align-self: flex-start; */
	margin-top: 20px;
	margin-left: 70px;
}

.form-subscription {
	display: flex;
	align-items: flex-end;
}
.form-subscription-input {
	width: 358px;
	height: 50px;
	outline: none;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;

	font-size: 16px;
	color: var(--white);
}

.form-subscription-input:focus {
	border-color: white;
}
.form-subscription-input::placeholder {
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
.form-subscription-btn {
	display: inline-flex;
	align-items: center;
	padding-left: 28px;
	padding-right: 28px;
	margin-left: 12px;
	height: 50px;
	padding: 10px 29px;
	border: none;
	border-radius: 4px;

	font-size: 16px;
	font-weight: 700;
	/* line-height: 1.88; */
	letter-spacing: 0.06em;

	color: var(--white);
	background-color: var(--accent);
	cursor: pointer;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription-icon-send {
	fill: var(--white);
	margin-left: 10px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription-btn:focus,
.form-subscription-btn:hover {
	background-color: var(--white);
	color: var(--accent);
}
.form-subscription-btn:focus .form-subscription-icon-send,
.form-subscription-btn:hover .form-subscription-icon-send {
	fill: var(--accent);
}


/* end telegram */



/*modal */
/* .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: 1s;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: 1s;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.is-hidden .modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(1deg) scale(0.1);
	transition: 1s;
}
.close-modal-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	fill: #212121;
	z-index: 100;
	border: none;
	outline: none;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
} */
/* new modal */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;

	background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	transition: 250ms;
}

.modal {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	width: 528px;
	transform: translate(-50%, -50%);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.is-hidden .modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(1deg) scale(0.1);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	fill: #212121;
	z-index: 100;
	border: none;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

	cursor: pointer;
}
.modal-close-icon {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal__close-icon {
	fill: var(--accent);
}

.form-check-in-title {
	margin-top: 0;
	margin-bottom: 15px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
}

.form-check-in-field {
	display: block;
	position: relative;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-check-in-input-name {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	margin-bottom: 4px;
	color: var(--color-secondary-text);
}

.form-check-in-input {
	width: 100%;
	height: 39px;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check-in-icon {
	position: absolute;
	top: 55%;
	left: 12px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check-in-input:focus,
.form-check-in-text:focus {
	border-color: var(--accent);
	outline: none;
}
.form-check-in-input:focus + .form-check-in-icon {
	fill: var(--accent);
}

.form-check-in-text {
	width: 100%;

	padding: 12px 16px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check-in-text::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.form-check-in-btn {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 56px;
	border: none;
	border-radius: 4px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	font-size: 16px;
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--white);
	background-color: var(--accent);
	cursor: pointer;
}

.form-check-in-terms {
	font-size: 14px;
	line-height: 1.71;

	letter-spacing: 0.03em;
	color: var(--color-secondary-text);
}

.link--policy {
	text-decoration: underline;
	color: var(--accent);
}

.checkbox-input{
	-webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.form-check-in-checkbox {
	display: inline-block;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.checkbox-icon {
	vertical-align: middle;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;

	border: 2px solid var(--color-main-text);
	border-radius: 2px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked ~ .checkbox-icon {
	background-color: var(--accent);
	background-image: url(../images/icon_check.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-origin: border-box;
	border-color: var(--accent);
}


.btn-list {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	display: flex;
	justify-content: center;
}

.btn-list .button {
	background-color: var(--color-bg-advantges);
	/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); */
	border-radius: 4px;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	padding: 8px 22px;
	margin-right: 8px;
	margin-bottom: 40px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list-item:not(:last-child) {
	margin-right: 8px;
}

.btn-list .button:hover,
.btn-list .button:focus {
	background-color: var(--accent);
	color: var(--primary-bg-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.portfolio-list h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.portfolio-list p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.portfolio-list-item-info {
	padding: 20px 24px;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE; 
}

.portfolio-list-item {
	width: calc((100% - 2 * 30px) / 3);
	margin-bottom: 30px;
}
.portfolio-list-item img {
	display: block;
}
.portfolio-list-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio-list-item:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

.portfolio-list .link:hover p,
.portfolio-list .link:focus p {
	transform: translateY(0%);
}
.portfolio-list-item .overlay {
	position: relative;
	overflow: hidden;
}
.portfolio-list-item .overlay p {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--white);
	font-size: 18px;
	line-height: 1.56;
	padding: 63px 24px;
	transform: translateY(100%);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-close-icon:hover{
	fill: var(--accent);
	cursor: pointer;
}


